<div class="row">
  <app-los-chart></app-los-chart>
</div>




<div class="row">
  <h1>Test</h1>
  <div style="display: block">
    <!-- <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    >
    </canvas> -->

    <ngx-charts-line-chart
      [view]="[0, 700]"
      [legend]="legend"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="true"
      [results]="transformedData"
    >
    </ngx-charts-line-chart>

    <!-- <ngx-charts-area-chart
      [view]="[0, 700]"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="transformedData2"
    >
    </ngx-charts-area-chart> -->

    <!-- <ngx-charts-area-chart-stacked
      [view]="[900, 400]"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [results]="transformedData2"
    >
    </ngx-charts-area-chart-stacked> -->
  </div>
</div>
